:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Ralewey', sans-serif;
    --main-txt-cl: #212121;
    --wight-txt-cl: #ffffff;
    --secondary-txt-cl: #757575;
    --accent-txt-cl: #2196f3;
    --dark-bg-cl: #2f303a;
    --wight-bg-cl: #f5f4fa;
    --border-heder-c1: #ececec;
    --color-svg-links: #afb1b8;
    --color-svg-bg-footer: rgba(255, 255, 255, 0.1);
    --btn-hero-hover: #188ce8; }

   