
  .footer__advantege-title {
    padding-left: 0;
    display: inline-block;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .footer__right {
    width: 206px;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    padding-top: 12px;
  }
  .footer__sociale-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--color-svg-bg-footer);
    border-radius: 50%;
  
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
  }
  .footer__svg-links {
    fill: var(--wight-txt-cl);
  }
  .footer__sociale-link:hover,
  .footer__sociale-link:focus,
  .footer__sociale-link:active {
    background-color: var(--accent-txt-cl);
    fill: var(--wight-txt-cl);
  }
  .footer__sociale-link:hover .footer__svg-links {
    fill: var(--wight-txt-cl);
  }
  .footer__sociale-link:focus .footer__svg-links {
    fill: var(--wight-txt-cl);
  }
  
  