.menu__btn {
  margin-left: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: none;
  }
  
  .mobile__menu & {
    position: absolute;
    top: 48px;
    right: 30px;
  }
}
.mobile__close--btn{
  position: absolute;
  top: 10px;
  right: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border: none;
  background-color: transparent;

  cursor: pointer;

  &__icon {
    transition: fill var(--cubic);

    .mobile__close--btn:hover &,
    .mobile__close--btn:focus & {
      fill: var(--accent-text-color);
    }
  }
}

  
.mobile__menu {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 100;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity var(--cubic), visibility var(--cubic);

  &.is-open {
    opacity: 1;
    pointer-events: initial;
    visibility: visible;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile__conteiner {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 48px 40px;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: transform var(--cubic);

  .mobile__menu.is-open & {
    transform: translateX(1);
  }
}
.mobile__list{
display: flex;
flex-direction: column;
margin-bottom: auto;
gap: 32px;

&__link {
  font-family: var(--main-fonts);
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  line-height: 100%;
  letter-spacing: 2%;
  text-decoration: none;
  color: #212121;

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }

  &--current {
    font-family: var(--main-fonts);
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    line-height: 100%;
    letter-spacing: 2%;
    text-decoration: none;
    color: var(--accent-text-color);
  }
}
}
.mobile__list:first-child {
  margin-bottom: auto;
}
.mobile__list:nth-child(2){
  margin-bottom: 40px
}
.mobile__items{
  &:first-child {
    margin-top: 48px;
 }

 &:not(:last-child) { 
    margin-bottom: 32px; 
  }
}
.mobile__social--list{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.mobile__link{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1,17;
  letter-spacing: 0.02em;
  
  color: #212121;
}
.mobile__link--phone{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 1.17;
letter-spacing: 0.02em;
color: #2196F3;
}
  .mobile__link--mail{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.02em;

color: #757575;

  }

.mobile__social--item{
  display: flex;
  flex-wrap: wrap;
}
.mobile__social--link{
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height, or 122% */

letter-spacing: 0.02em;

color: #2196F3;
}
.mobile__social--item:not(:last-child) .mobile__social--link{
display: flex;

padding-right: 10px;
border-right: 1px solid rgba(33, 33, 33, 0.2);
}
